<div class="fullPageContent">

  <app-nav-menu></app-nav-menu>

  <select id="employeeSelect">
    <option value='1'>Samtliga</option>
    <option value='2'>Henrik Berglund</option>
  </select>

  <label id="startWeekLabel">Vecka</label>
  <input id="startWeek" type="week" class="weekSelect"/>

  <label id="periodLabel"><input id="checkBoxPeriod" type="checkbox" class="checkBoxOne" (change)="togglePeriodStatus($event)"/>Intervall</label>

  <label id="endWeekLabel" *ngIf="this.periodStatus">Till vecka</label>
  <input id="endWeek" type="week" class="weekSelect" *ngIf="this.periodStatus"/>

  <button id="filterButton">Filtrera</button>

  <ul class="timeTable">
    <li class="timeTableItem">
      <label class="timeColOne headerCol">Order nr</label>
      <label class="timeColTwo headerCol">Typ av arbete</label>
      <label class="timeColThree headerCol">Timmar</label>
      <label class="timeColFour headerCol">Vecka</label>
      <label class="timeColFive headerCol">Anställd</label>
    </li>
  </ul>

  <input id="numberField">

  <select id="workField">
    <option value='1'>Typ av arbete</option>
    <option value='2'>Henrik Berglund</option>
  </select>

  <input type="number" id="hourField">

  <input id="weekInput" type="week" class="weekSelect"/>

  <button id="addTimeBtn">Lägg till</button>

  <label id="sumCheckBox"><input type="checkbox" class="checkBoxOne" (change)="toggleSumStatus($event)"/>Summera</label>





</div>
